/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .titres a {
	background-image:url(images/h1.png); 
}
.markItUp .titres .markItUpButton1-1 a {
	background:url(images/h1.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-2 a {
	background:url(images/h2.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-3 a {
	background:url(images/h3.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-4 a {
	background:url(images/h4.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-5 a {
	background:url(images/h5.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-6 a {
	background:url(images/h6.png) no-repeat 0 5px; 
}

.markItUp .titres .markItUpButton1-1 a:hover {
	background:#A1A1A1 url(images/h1.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-2 a:hover {
	background:#A1A1A1 url(images/h2.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-3 a:hover {
	background:#A1A1A1 url(images/h3.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-4 a:hover {
	background:#A1A1A1 url(images/h4.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-5 a:hover {
	background:#A1A1A1 url(images/h5.png) no-repeat 0 5px; 
}
.markItUp .titres .markItUpButton1-6 a:hover {
	background:#A1A1A1 url(images/h6.png) no-repeat 0 5px; 
}

.markItUp .markItUpButton2 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(images/italic.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton5 a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(images/briefcase.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(images/email.png); 
}
.markItUp .markItUpButton8 a {
	background-image:url(images/link_go.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(images/link.png); 
}
.markItUp .markItUpButton10 a {
	background-image:url(images/table.png);
}
.markItUp .markItUpButton11 a {
	background-image:url(images/table.png);
}

.markItUp .markItUpButton12 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton13 a	{
	background-image:url(images/code.png);
}

.markItUp .markItUpButton14 a {
	background-image:url(images/arrow_out.png);
}
.markItUp .markItUpButton15 a {
	background-image:url(images/arrow_in.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}

.markItUp .Markdown a{
	background-image:url(images/Markdown.png);
}